In [19]:
#7월 달력을 구현하시오
#교수님 코드
print('\t\t 2024년 7월')
print('일', '월', '화', '수', '목', '금','토', sep='\t', end='\n')
day=1
print(end='\t')
for i in range(32):
    print(day, end='\t')
    if (day+1)%7==0:
        print()
    day=day+1

		 2024년 7월
일	월	화	수	목	금	토
	1	2	3	4	5	6
7	8	9	10	11	12	13
14	15	16	17	18	19	20
21	22	23	24	25	26	27
28	29	30	31	32

In [20]:
#내 코드
print('\t\t2024년 7월\n')
print('일', '월', '화', '수', '목', '금','토', sep='\t')
print('\t', end='')
for i in range(1, 32):
    print(i, end='\t')
    if((i+1)%7==0):
        print('\n')

		2024년 7월

일	월	화	수	목	금	토
	1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

In [30]:
#내 코드
#아래코드 참조하여 월, 빈칸과 마지막 날을 입력 받아 1~12월을 모두 출력할 수 있도록 코드를 수정하시오
mon=int(input("월을 입력하세요 : "))
space=int(input("빈칸의 수를 입력하세요 : "))
lastDay=int(input("마지막 날짜를 입력하세요 : "))

print('\n\n\t\t2024년', mon, '월\n')
print('일', '월', '화', '수', '목', '금', '토', sep='\t', end='\n')

for mon in range(1, 13):
    
    for i in range(1, 32):
        print(i, end='\t')
        if((i+1)%7==0):
            print('\n')

		2024년 1 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 2 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 3 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 4 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 5 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 6 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 7 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 8 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 9 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 10 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 11 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

		2024년 12 월

일	월	화	수	목	금	토
1	2	3	4	5	6

7	8	9	10	11	12	13

14	15	16	17	18	19	20

21	22	23	24	25	26	27

28	29	30	31

In [31]:
numbers=list(range(0,10,1))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
print(numbers[0:9:2])    #간격이 2

[0, 2, 4, 6, 8]

In [34]:
letters='Hello'
print(letters[0:])    #0~마지막까지

Hello

In [35]:
print(letters[:])    #처음~마지막

Hello

In [36]:
print(letters[::])

Hello

In [37]:
print(letters[::-1])    #-1은 뒤에서부터 거꾸로

olleH

In [38]:
import random

In [39]:
print(random.random())   # 0.0<=r<1.0

0.07428469161454587

In [40]:
for i in range(100):
    print(random.randint(1,3))

3
1
2
1
3
1
2
2
2
1
1
2
2
3
3
1
1
3
3
1
1
1
2
2
2
1
1
1
2
3
3
2
2
2
3
2
1
2
1
3
1
1
3
1
1
1
1
2
1
3
3
1
2
3
3
1
3
2
2
1
3
2
3
1
2
1
1
2
3
1
2
2
1
1
2
3
3
3
3
3
1
2
3
2
2
3
3
1
2
2
3
2
2
1
2
3
2
1
2
2

In [42]:
number = [0, 1, 2, 3, 4]
print(number)

[0, 1, 2, 3, 4]

In [43]:
for i in range(5):
    del number[-1]

In [44]:
print(tuple(number))

()

In [47]:
# 2~9단까지 구구단 코드를 작성하시오
dan=2
num=1

for dan in range(2, 10):
    for num in range(1, 10):
        print(dan, 'X', num, '=', dan*num)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [51]:
dan =2
for i in range(8):
    number=1
    if dan==7:
        continue
    for i in range(9):
        print(dan, 'X', number, '=', number*dan)
        number = number + 1
        pass
    print()
    dan = dan + 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

In [48]:
for i in range(1, 6):
    if i==3:
        continue
    print(i, end='\t')

1	2	4	5

In [49]:
for i in range(1,6):
    if i==3:
        break
    print(i, end='\t')

1	2

In [54]:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [56]:
for i in range(1, 11):
    if i % 2 != 1:
        print(i)

2
4
6
8
10

In [57]:
for i in range(1, 11):
    print(i, end='  ')

1  2  3  4  5  6  7  8  9  10

In [59]:
for i in range(1, 21):
    if i % 10 == 3:
        continue
    print(i, end='  ')

1  2  4  5  6  7  8  9  10  11  12  14  15  16  17  18  19  20

In [60]:
for i in range(21, 34):
    if i % 10 == 3:
        continue
    print(i, end='  ')

21  22  24  25  26  27  28  29  30  31  32

In [104]:
# 산 모양으로 별 출력하기
idx=int(input())

for i in range(idx):
    for j in range(idx*2-1):
        basic = idx-1
        if (j>=basic-i and j<=basic+i) :
            print('*', end='')
        else:
            print(' ', end='')
    print()

 6

     *
    ***
   *****
  *******
 *********
***********

In [105]:
data=[]
data.append('1, 2, 3, 4, 5')
print(data)

['1, 2, 3, 4, 5']

In [106]:
data.append('6, 7, 8, 9, 10')
print(data)

['1, 2, 3, 4, 5', '6, 7, 8, 9, 10']

In [107]:
data.append('11, 12, 13, 14, 15')
print(data)

['1, 2, 3, 4, 5', '6, 7, 8, 9, 10', '11, 12, 13, 14, 15']

In [108]:
len(data)

3

In [109]:
for item in data:
    print(item)

1, 2, 3, 4, 5
6, 7, 8, 9, 10
11, 12, 13, 14, 15

In [120]:
matrix=list()
for item in data:
    temp=item.split(',')
    print(temp)
    matrix.append(temp)
print()
print(matrix)

['1', ' 2', ' 3', ' 4', ' 5']
['6', ' 7', ' 8', ' 9', ' 10']
['11', ' 12', ' 13', ' 14', ' 15']

[['1', ' 2', ' 3', ' 4', ' 5'], ['6', ' 7', ' 8', ' 9', ' 10'], ['11', ' 12', ' 13', ' 14', ' 15']]

In [121]:
matrix[0]

['1', ' 2', ' 3', ' 4', ' 5']

In [122]:
matrix[0][4]

' 5'

In [123]:
for row in matrix:
    for column in row:
        print(column, end='')
        pass
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15

In [126]:
kim='98, 43, 21'
lee='46, 92, 83'
park='78, 88, 69'
#3명 학생의 총점과 평균을 구하는 코드 작성하시오
students=[kim, lee, park]
count=1

for temp in students:
    student=temp.split(',')
    total=0
    for score in student:
        total = total + int(score)

avg = total/3
print(total, avg)

235 78.33333333333333

In [131]:
kim='98, 43, 21'
lee='46, 92, 83'
park='78, 88, 69'
temps=[kim, lee, park]
students=[]

for value in temps:
    students.append(value.split(','))

print(students)

[['98', ' 43', ' 21'], ['46', ' 92', ' 83'], ['78', ' 88', ' 69']]

In [132]:
kim='98, 43, 21'
lee='46, 92, 83'
park='78, 88, 69'
temps=[kim, lee, park]
students=[]

for value in temps:
    intVal=[]
    for val in value.split(','):
        intVal.append(int(val))
    students.append(intVal)

print(students)

[[98, 43, 21], [46, 92, 83], [78, 88, 69]]