In [8]:
# mon은 사용자에게서 정수로 입력 받는다.
mon = int(input('월을 입력하세요 : '))
# year은 2024로 초기값
year = 2024
# lastDays는 배열의 순서대로 초기값 설정해 준다.
lastDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
# 만약 mon이 2라면
if mon==2:
    # 만약 year이 400으로 나누었을 때 나머지가 0이거나 year을 4로 나누었을 때 0이고 100으로 나누었을 때 0이 아니면
    if year%400==0 or (year%4==0 and year%100!=0):
        # lastDays에 1번째 배열의 값이 29이다.
        lastDays[1] = 29
# spaces의 배열의 순서대로 초기값을 설정해 준다.
spaces = [1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
# space는 spaces에 mon-1번째의 배열을 갖는다?
space=spaces[mon-1]
# lastDay는 lastDays의 mon-1번째의 배열을 갖는다?
lastDay=lastDays[mon-1]

# 탭탭2024년 사용자에게 입력받은 mon 월 출력
print('\t\t2024년', mon, '월')
# 일 월 화 수 목 금 토 출력 중간에 탭으로 간격 벌리기
print('일', '월', '화', '수', '목', '금','토', sep='\t')

# day는 1로 초기값을 갖고
day=1
# 반복할 횟수 space를 설정하고
for i in range(space):
    # 탭을 반복 실행 마지막은 빈칸 출력
    print('\t', end='')
# 반복할 횟수 lastDay를 설정하고 
for i in range(lastDay):
    # day를 반복 실행 마지막은 탭 출력
    print(day, end='\t')
    # 만약 space+day를 더해서 7로 나누었을 때 나머지가 0이면
    if (space+day)%7==0:
        # 출력한다.
        print()
    # day는 day에 1씩 더해준다.
    day=day+1

월을 입력하세요 :  5

		2024년 5 월
일	월	화	수	목	금	토
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30	31

In [12]:
# 시
# mon은 사용자에게서 정수로 입력 받는다.
mon = int(input('월을 입력하세요 : '))
# year은 2024로 초기값
year = 2024
# lastDays는 배열의 순서대로(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31) 초기값 설정해 준다.
lastDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
# 만약 mon이 2라면
if mon == 2:
    # 만약 year이 400으로 나누었을 때 나머지가 0이거나 year을 4로 나누었을 때 0이고 100으로 나누었을 때 0이 아니면
    if year%400 == 0 or (year%4==0 and year%100==0):
        # lastDays에 1번째 배열의 값이 29이다.
        lastDays[1] = 29
# spaces의 배열의 순서대로(1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0) 초기값을 설정해 준다.
spaces = [1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
# space는 spaces에 mon-1번째의 배열을 갖는다?
space = spaces[mon-1]
# lastDay는 lastDays의 mon-1번째의 배열을 갖는다?
lastDay = lastDays[mon-1]

# 탭탭2024년 사용자에게 입력받은 mon 월 출력
print('\n\t\t2024년', mon, '월\n')
# 일 월 화 수 목 금 토 출력 중간에 탭으로 간격 벌리기
print('일', '월', '화', '수', '목', '금', '토', sep='\t')
# day는 1로 초기값을 갖고
day = 1
# 반복할 횟수 space를 설정하고
for i in range(space):
    # 탭을 반복 실행 마지막은 빈칸 출력
    print('\t', end='')
# 반복할 횟수 lastDay를 설정하고 
for i in range(lastDay):
    # day를 반복 실행 마지막은 탭 출력
    print(day, end='\t')
    # 만약 space+day를 더해서 7로 나누었을 때 나머지가 0이면
    if (space+day)%7==0:
        # 출력한다.
        print()
    # day는 day에 1씩 더해준다.
    day = day + 1

월을 입력하세요 :  5

		2024년 5 월

일	월	화	수	목	금	토
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30	31

In [29]:
for datetime import datetime
mon=int(input('월을 입력하세요>>>'))
year=2024
# 빈칸 정보를 얻기위해 datetime모듈의 datetime 객체 사용
now = datetime(year, mon, 1)

lastDays=[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
if mon==2:
    if year%400==0 or (year%4==0 and year%100!=0):
        lastDays[1]=29
# 요일 정보와 빈칸정보의 비교를 통해서 +1을 하면 빈칸 데이터가 나옴
space=(now.weekday()+1)%7
lastDay=lastDays[mon-1]

print('\t\t2024년', mon, '월')
print('일', '월', '화', '수', '목', '금','토', sep='\t')

day=1
for i in range(space):
    print('\t', end='')
for i in range(lastDay):
    print(day, end='\t')
    if (space+day)%7==0:
        print()
    day=day+1

월을 입력하세요>>> 9

		2024년 9 월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30

In [13]:
import datetime

In [14]:
now = datetime.datetime.today()
print(now)

2024-07-04 11:08:13.863743

In [15]:
now.day

4

In [16]:
now.month

7

In [17]:
now.weekday()

3

In [21]:
july = datetime.datetime(2024,9,1)

In [22]:
print(july.weekday())

6

In [30]:
import random

In [31]:
print(random.random())

0.26126783762070604

In [32]:
for i in range(6):
    print(random.randrange(1, 46))

4
18
5
8
38
17

In [64]:
# 중복없이 4자리수(1000~9999)를 생성하는 코드를 작성하시오
number = random.randrange(1000,10000)
# number를 중복검사한다.
# 한 자리씩 잘라서 리스트에 넣고 다음 수로 비교하기
print(number)

6233

In [65]:
while True:
    number = random.randrange(1000,10000)
    # set이라는 컬렉션이 있음
    # 순서가 없고 중복을 허락하지 않는 데이터 집합
    temp = str(number)
    temp = set(list(temp))
    if len(temp)==4:
        print(number)
        break

1489

In [66]:
number = set(list('8541'))
print(number)

{'4', '5', '1', '8'}

In [67]:
test = set([1, 1, 2])
print(test)

{1, 2}

In [68]:
test = set(list('hello'))
print(test)

{'o', 'h', 'e', 'l'}

In [69]:
numbers = list('0123456789')
print(numbers)
index = random.randrange(1, 10)
print(numbers[index])
del numbers[index]
print(numbers)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
6
['0', '1', '2', '3', '4', '5', '7', '8', '9']