In [1]:
import pandas as pd

In [2]:
scientists = pd.read_csv('../doit_pandas-master/data/gapminder.tsv', sep = '\t')

In [3]:
scientists

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
scientists.drop(1, inplace=True)

In [5]:
scientists

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
5     Afghanistan      Asia  1977   38.438  14880372  786.113360
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1703 rows x 6 columns]

In [6]:
df1 = pd.read_csv('../doit_pandas-master/data/concat_1.csv')
df2 = pd.read_csv('../doit_pandas-master/data/concat_2.csv')
df3 = pd.read_csv('../doit_pandas-master/data/concat_3.csv')

In [7]:
print('df1', df1.shape)
print('df2', df2.shape)
print('df3', df3.shape)

df1 (4, 4)
df2 (4, 4)
df3 (4, 4)

In [8]:
print(df1.index, df1.columns)

RangeIndex(start=0, stop=4, step=1) Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df2.index, df2.columns

(RangeIndex(start=0, stop=4, step=1),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

In [10]:
df3.index, df3.columns

(RangeIndex(start=0, stop=4, step=1),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

In [11]:
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [12]:
df2

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [13]:
row_concat = pd.concat([df1,df2,df3])

In [14]:
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [15]:
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])

In [16]:
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [18]:
print(pd.concat([df1, new_row_df]))

NameError: name 'new_row_df' is not defined

In [23]:
print(df1.append(new_row_df))

In [22]:
row_concat.iloc[3,:]

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [23]:
row_concat_1 = pd.concat([df1, df2, df3], ignore_index=True)

In [24]:
print(row_concat_1)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [25]:
col_concat = pd.concat([df1, df2, df3], axis = 1)

In [27]:
col_concat['new'] = ['n1', 'n2', 'n3', 'n4']

In [28]:
col_concat

    A   B   C   D   A   B   C   D    A    B    C    D new
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8  n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9  n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10  n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11  n4

In [34]:
df2.columns = ['E','F','G','H']

In [35]:
df2.columns

Index(['E', 'F', 'G', 'H'], dtype='object')

In [36]:
df3.columns = ['A','C','F','H']

In [37]:
df3.columns

Index(['A', 'C', 'F', 'H'], dtype='object')

In [29]:
alist = [1,2,3]

In [30]:
alist[0] = 10

In [31]:
alist

[10, 2, 3]

In [38]:
# CRU(변경 : 구조 -> 행을 추가하는 경우)

In [ ]:
row_concat = pd.concat([df1, df2, df3], join='inner')
print(row_concat)