In [35]:
# 1번
# 세 수를 세 번으로 나누어 키보드로부터 입력 받아 합계와 평균을 출력하는 코드 작성
a=int(input())
b=int(input())
c=int(input())

print(a+b+c)

 1
 2
 3

6

In [17]:
# 2번
# 세 수를 한 번에 키보드로부터 입력 받아 합계와 평균을 출력하는 코드 작성
a,b,c=map(int, input().split())
print((a+b+c)//3)

 1 2 3

2

In [1]:
# 3번
# 평균과 합계는 실수로 나타낸다.
a,b,c=map(float, input().split())

print(float(a+b+c))
print(float((a+b+c)/3))

 1.0 2.0 3.0

6.0
2.0

In [41]:
print(1, 2, 3, sep='\n')

1
2
3

In [42]:
print(1,2,3, sep='\\')   #1\2\3

1\2\3

In [50]:
print(1, end='\t')
print(2, end='-')

1	2-

In [53]:
year=2000
month=10
day=27
hour=11
minute=43
second=59

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

In [54]:
year, month, day, hour, minute, second =input().split()

print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

 1999 12 31 10 37 21

1999-12-31T10:37:21

In [58]:
print('일', '월', '화', '수', '목', '금','토', sep='\t')
print(1, 2, 3, 4, 5, 6, 7, sep='\t')
print(8, 9, 10, 11, 12, 13, 14, sep='\t')
print(15, 16, 17, 18, 19, 20, 21, sep='\t')
print(22, 23, 24, 25, 26, 27, 28, sep='\t')
print(29, 30, 31, sep='\t')

일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31

In [63]:
korean=92
english=47
math=86
science=81

print(korean > 50 and english > 50 and math > 50 and science > 50)

False

In [66]:
korean, english, math, science=map(int,input().split())
print(korean >= 90 and english > 80 and math > 85 and science >= 80)

 90 80 85 80

False

In [69]:
a=10
b=20

In [67]:
if a!=b:
    print('a')
else:
    print('b')

a

In [70]:
if a>90:
    print('A')
elif a>80:
    print('B')
elif a>70:
    print('C')
elif a>=60:
    print('D')
else:
    print('F')

F

In [71]:
for i in range(10):
    print(i, 'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [79]:
number = 1
for _ in range(1, 11):
    print(number)
    number = number + 1

1
2
3
4
5
6
7
8
9
10

In [80]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [85]:
number=1
for _ in range(9):
    print('2 X', number, '=', 2*number)
    number=number+1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [104]:
print('일', '월', '화', '수', '목', '금','토', sep='\t')

for i in range(1, 32):
    print(i, end='\t')
    if(i%7 == 0):
        print('\n')

일	월	화	수	목	금	토
1	2	3	4	5	6	7

8	9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28

29	30	31