In [8]:
# mon은 사용자에게서 정수로 입력 받는다.
mon = int(input('월을 입력하세요 : '))
# year은 2024로 초기값
year = 2024
# lastDays는 배열의 순서대로 초기값 설정해 준다.
lastDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
# 만약 mon이 2라면
if mon==2:
    # 만약 year이 400으로 나누었을 때 나머지가 0이거나 year을 4로 나누었을 때 0이고 100으로 나누었을 때 0이 아니면
    if year%400==0 or (year%4==0 and year%100!=0):
        # lastDays에 1번째 배열의 값이 29이다.
        lastDays[1] = 29
# spaces의 배열의 순서대로 초기값을 설정해 준다.
spaces = [1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
# space는 spaces에 mon-1번째의 배열을 갖는다?
space=spaces[mon-1]
# lastDay는 lastDays의 mon-1번째의 배열을 갖는다?
lastDay=lastDays[mon-1]

# 탭탭2024년 사용자에게 입력받은 mon 월 출력
print('\t\t2024년', mon, '월')
# 일 월 화 수 목 금 토 출력 중간에 탭으로 간격 벌리기
print('일', '월', '화', '수', '목', '금','토', sep='\t')

# day는 1로 초기값을 갖고
day=1
# 반복할 횟수 space를 설정하고
for i in range(space):
    # 탭을 반복 실행 마지막은 빈칸 출력
    print('\t', end='')
# 반복할 횟수 lastDay를 설정하고 
for i in range(lastDay):
    # day를 반복 실행 마지막은 탭 출력
    print(day, end='\t')
    # 만약 space+day를 더해서 7로 나누었을 때 나머지가 0이면
    if (space+day)%7==0:
        # 출력한다.
        print()
    # day는 day에 1씩 더해준다.
    day=day+1

월을 입력하세요 :  5

		2024년 5 월
일	월	화	수	목	금	토
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30	31

In [12]:
# 시
# mon은 사용자에게서 정수로 입력 받는다.
mon = int(input('월을 입력하세요 : '))
# year은 2024로 초기값
year = 2024
# lastDays는 배열의 순서대로(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31) 초기값 설정해 준다.
lastDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
# 만약 mon이 2라면
if mon == 2:
    # 만약 year이 400으로 나누었을 때 나머지가 0이거나 year을 4로 나누었을 때 0이고 100으로 나누었을 때 0이 아니면
    if year%400 == 0 or (year%4==0 and year%100==0):
        # lastDays에 1번째 배열의 값이 29이다.
        lastDays[1] = 29
# spaces의 배열의 순서대로(1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0) 초기값을 설정해 준다.
spaces = [1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
# space는 spaces에 mon-1번째의 배열을 갖는다?
space = spaces[mon-1]
# lastDay는 lastDays의 mon-1번째의 배열을 갖는다?
lastDay = lastDays[mon-1]

# 탭탭2024년 사용자에게 입력받은 mon 월 출력
print('\n\t\t2024년', mon, '월\n')
# 일 월 화 수 목 금 토 출력 중간에 탭으로 간격 벌리기
print('일', '월', '화', '수', '목', '금', '토', sep='\t')
# day는 1로 초기값을 갖고
day = 1
# 반복할 횟수 space를 설정하고
for i in range(space):
    # 탭을 반복 실행 마지막은 빈칸 출력
    print('\t', end='')
# 반복할 횟수 lastDay를 설정하고 
for i in range(lastDay):
    # day를 반복 실행 마지막은 탭 출력
    print(day, end='\t')
    # 만약 space+day를 더해서 7로 나누었을 때 나머지가 0이면
    if (space+day)%7==0:
        # 출력한다.
        print()
    # day는 day에 1씩 더해준다.
    day = day + 1

월을 입력하세요 :  5

		2024년 5 월

일	월	화	수	목	금	토
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30	31

In [82]:
mon=int(input('월을 입력하세요>>>'))
year=2024

lastDays=[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
if mon==2:
    if year%400==0 or (year%4==0 and year%100!=0):
        lastDays[1]=29
spaces = [1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
space = spaces[mon-1]
lastDay=lastDays[mon-1]

print('\t\t2024년', mon, '월')
print('일', '월', '화', '수', '목', '금','토', sep='\t')

day=1
for i in range(space):
    print('\t', end='')
for i in range(lastDay):
    print(day, end='\t')
    if (space+day)%7==0:
        print()
    day=day+1

월을 입력하세요>>> 9

		2024년 9 월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30

In [29]:
from datetime import datetime
mon=int(input('월을 입력하세요>>>'))
year=2024
# 빈칸 정보를 얻기위해 datetime모듈의 datetime 객체 사용
now = datetime(year, mon, 1)

lastDays=[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
if mon==2:
    if year%400==0 or (year%4==0 and year%100!=0):
        lastDays[1]=29
# 요일 정보와 빈칸정보의 비교를 통해서 +1을 하면 빈칸 데이터가 나옴
space=(now.weekday()+1)%7
lastDay=lastDays[mon-1]

print('\t\t2024년', mon, '월')
print('일', '월', '화', '수', '목', '금','토', sep='\t')

day=1
for i in range(space):
    print('\t', end='')
for i in range(lastDay):
    print(day, end='\t')
    if (space+day)%7==0:
        print()
    day=day+1

월을 입력하세요>>> 9

		2024년 9 월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30

In [13]:
import datetime

In [14]:
now = datetime.datetime.today()
print(now)

2024-07-04 11:08:13.863743

In [15]:
now.day

4

In [16]:
now.month

7

In [17]:
now.weekday()

3

In [21]:
july = datetime.datetime(2024,9,1)

In [22]:
print(july.weekday())

6

In [30]:
import random

In [31]:
print(random.random())

0.26126783762070604

In [32]:
for i in range(6):
    print(random.randrange(1, 46))

4
18
5
8
38
17

In [64]:
# 중복없이 4자리수(1000~9999)를 생성하는 코드를 작성하시오
number = random.randrange(1000,10000)
# number를 중복검사한다.
# 한 자리씩 잘라서 리스트에 넣고 다음 수로 비교하기
print(number)

6233

In [65]:
while True:
    number = random.randrange(1000,10000)
    # set이라는 컬렉션이 있음
    # 순서가 없고 중복을 허락하지 않는 데이터 집합
    temp = str(number)
    temp = set(list(temp))
    if len(temp)==4:
        print(number)
        break

1489

In [66]:
number = set(list('8541'))
print(number)

{'4', '5', '1', '8'}

In [67]:
test = set([1, 1, 2])
print(test)

{1, 2}

In [68]:
test = set(list('hello'))
print(test)

{'o', 'h', 'e', 'l'}

In [69]:
numbers = list('0123456789')
print(numbers)
index = random.randrange(1, 10)
print(numbers[index])
del numbers[index]
print(numbers)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
6
['0', '1', '2', '3', '4', '5', '7', '8', '9']

In [70]:
def hello():
    print('a')

    pass

In [71]:
def a():
    print('aa')

In [72]:
def add(a,b):    # 파라미터, 가인수, 매개변수
    print(a+b)
    pass

In [73]:
add(1, 2)  # 아큐먼트, 실인수, 매개변수

3

In [74]:
def plus(a,b):
    return a+b
    c = a + b

In [75]:
result = plus(1, 2)

In [76]:
print(result)

3

In [77]:
def mul(a, b):
    c = a * b
    return c

In [78]:
def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)

In [79]:
x = 10
y = 20
add(x, y)

30
200

In [80]:
x = 10
y = 3
def get_quotient_remainder(a,b):
    return a // b, a % b

quotient, remainder = get_quotient_remainder(x, y)
print('몫: {0}, 나머지: {1}'.format(quotient, remainder))

몫: 3, 나머지: 1

In [84]:
# 달력을 출력하는 코드를 함수로 작성하시오
# 정보처리기사 문제풀이 코드를 함수로 작성하시오

In [83]:
# 달력을 출력하는 코드를 함수로 작성하시오
def date():
    mon=int(input('월을 입력하세요>>>'))
    year=2024
    
    lastDays=[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if mon==2:
        if year%400==0 or (year%4==0 and year%100!=0):
            lastDays[1]=29
    spaces = [1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
    space = spaces[mon-1]
    lastDay=lastDays[mon-1]
    
    print('\t\t2024년', mon, '월')
    print('일', '월', '화', '수', '목', '금','토', sep='\t')
    
    day=1
    for i in range(space):
        print('\t', end='')
    for i in range(lastDay):
        print(day, end='\t')
        if (space+day)%7==0:
            print()
        day=day+1

# date()

# 정보처리기사 문제풀이 코드를 함수로 작성하시오
# 정처기 1번


# 정처기 2번
def quiz2Max():
    quiz2Max = 0
    for student in data:
        quiz2Temp = student[2]+student[3]
        if student[10]=='B':
            if quiz2Max < quiz2Temp:
                quiz2Max = quiz2Temp    
    print(quiz2Max)

# quiz2Max()

def quiz2Min():
    quiz2Min = data[0][2]+data[0][3] #
    for student in data[1:]:
        quiz2Temp = student[2]+student[3]
        if student[10]=='B':
            if quiz2Min > quiz2Temp:
                quiz2Min = quiz2Temp          
    print(quiz2Min)

# quiz2Min()

# 정처기 3번
def quiz3():
    quiz3Answer = 0
    count = 0
    for student in data:
        #영어+수학점수 120 이상자료
        if student[3]+student[4] >= 120:
            count = count + 1
            # 총점+점수포인트
            point = 5
            if student[9]=='B':
                point = 15
            elif student[9]=='C':
                point = 20
            quiz3Answer = quiz3Answer + (student[7]+point)
        pass
    print(quiz3Answer,count)

quiz3()

# 정처기 4번
def quiz4():

월을 입력하세요>>> 5

		2024년 5 월
일	월	화	수	목	금	토
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30	31

In [90]:
from datetime import datetime

def viewCalendar(year, mon):
    # 빈칸 정보를 얻기위해 datetime모듈의 datetime 객체 사용
    now = datetime(year, mon, 1)
    
    lastDays=[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if mon==2:
        if year%400==0 or (year%4==0 and year%100!=0):
            lastDays[1]=29
    # 요일 정보와 빈칸정보의 비교를 통해서 +1을 하면 빈칸 데이터가 나옴
    space=(now.weekday()+1)%7
    lastDay=lastDays[mon-1]
    
    print('\t\t', year, '년', mon, '월')
    print('일', '월', '화', '수', '목', '금','토', sep='\t')
    
    day=1
    for i in range(space):
        print('\t', end='')
    for i in range(lastDay):
        print(day, end='\t')
        if (space+day)%7==0:
            print()
        day=day+1

In [91]:
year=int(input('년을 입력하세요>>>'))
mon=int(input('월을 입력하세요>>>'))
viewCalendar(year, mon)

년을 입력하세요>>> 2002
월을 입력하세요>>> 12

		 2002 년 12 월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31

In [105]:
def makeDataFromFile(fileDir,fileName):
    students = []
    with open(fileDir+'\\'+fileName,'r') as file:
        #1-1. 파일안의 컨텐츠에 연결하여 모든 라인을 가져온다.
        lines = file.readlines()
    for line in lines:
        student = []
        # 3.가져온 한줄을 분리한다.(콤마로 분리)
        temp = line[:-1].split(',')
        # 4.분리된 데이터를 타입에 맞추어 분리한다
        stdNo = int(temp[0])
        student.append(stdNo)
        student.append(temp[1])
        for ele in temp[2:8]:
            val = int(ele)
            student.append(val)
        # 5.분리한 데이터를 리스트에 저장한다.
        for ele in temp[8:]:
            student.append(ele)
        # 6.리스트를 리스트에 저장한다.
        students.append(student)
    return students

In [106]:
def solveQuiz1():
    data = makeDataFromFile('.\data','Abc1115.csv')
    quiz1Data = [] #정렬의 대상을 저장할 리스트
    for temp in data:
    #지역코드가 B인 데이터를 quiz1Data에 저장하시오.
        if temp[10] == 'B':
            temp.append(temp[2]+temp[3])
            quiz1Data.append(temp)
        pass
    for index,_ in enumerate(quiz1Data[:-1]):
        for idx,value in enumerate(quiz1Data[index+1:]):
            number = quiz1Data[index][-1]
            if number < value[-1]:
                temp = quiz1Data[index] #number
                quiz1Data[index] = value #i
                quiz1Data[idx+(index+1)] = temp
                #break
            #print(idx,i)
            elif number == value[-1]:
                # 점수가 같을 경우 학번을 오름차순으로 정렬하기
                number = quiz1Data[index][0]
                if number > value[0]:
                    temp = quiz1Data[index] #number
                    quiz1Data[index] = value #i
                    quiz1Data[idx+(index+1)] = temp
                pass
                
            pass

    for student in quiz1Data[10:20]:
        print(student)
    pass

In [94]:
def solveQuiz2():
    student = makeDataFromFile('.\data', 'Abxc1115.csv')
    pass

In [96]:
def solveQuiz3():
    student = makeDataFromFile('.\data', 'Abxc1115.csv')
    pass

In [108]:
# 테스트 코드
def solveQuiz4():
    students = makeDataFromFile('.\data','Abc1115.csv')
    print(len(students))
    for student in students[:5]:
        print(student)
    pass

In [107]:
solveQuiz1()

[990631, 'jude', 91, 73, 43, 82, 87, 376, 'B', 'C', 'B', 164]
[990747, 'teak', 67, 96, 84, 50, 47, 344, 'C', 'B', 'B', 163]
[990891, 'kimd', 99, 64, 70, 84, 30, 347, 'A', 'C', 'B', 163]
[990935, 'miss', 94, 67, 24, 33, 38, 256, 'C', 'B', 'B', 161]
[990350, 'hjoo', 76, 83, 46, 98, 7, 310, 'B', 'C', 'B', 159]
[990470, 'minh', 79, 80, 98, 19, 46, 322, 'C', 'B', 'B', 159]
[990023, 'tess', 86, 71, 87, 6, 15, 265, 'B', 'C', 'B', 157]
[990217, 'koan', 64, 93, 93, 24, 72, 346, 'B', 'C', 'B', 157]
[990418, 'sad9', 87, 66, 88, 18, 92, 351, 'B', 'A', 'B', 153]
[990424, 'hysu', 81, 72, 23, 64, 27, 267, 'A', 'B', 'B', 153]

In [109]:
solveQuiz4()

1000
[990001, 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C']
[990002, 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A']
[990003, 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A']
[990004, 'miat', 73, 22, 48, 24, 72, 239, 'B', 'C', 'C']
[990005, 'oran', 33, 38, 59, 58, 28, 216, 'C', 'B', 'A']