In [7]:
print(1,2,3,sep='\n') #1\2\3

1
2
3

In [8]:
print('1\n2\n3')

1
2
3

In [13]:
print(1,end='\t')
print(2,end='-')

1	2-

In [18]:
a = 10
b = 10

In [21]:
if a!=b:
    print('a')
else:
    print('b')

b

In [23]:
if a>90:
    print('A')
elif a>80:
    print('B')
elif a>70:
    print('C')
elif a>=60:
    print('D')
else:
    print('F')

F

In [40]:
number = 1
for i in range(1,11):
    print(i)
    #print(number)
    #number = number + 1

1
2
3
4
5
6
7
8
9
10

In [44]:
number = 1
for _ in range(9):
    print('2X',number,'=',2*number)
    number = number + 1

2X 1 = 2
2X 2 = 4
2X 3 = 6
2X 4 = 8
2X 5 = 10
2X 6 = 12
2X 7 = 14
2X 8 = 16
2X 9 = 18

In [15]:
print('\t\t\t2024년 9월')
print('일','월','화','수','목','금','토',sep='\t',end='\n')
day = 1
for _ in range(31):
    print(day,end='\t')
    if day%7==0:
        print()
    day = day + 1

			2024년 9월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31

In [59]:
print('일','월','화','수','목','금','토',sep='\t',end='\n')

for day in range(1,32):
    print(day,end='\t')
    if day%7==0:
        print()
    #day = day + 1

일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31

In [2]:
dan = 1
for _ in range(8):
    number = 1
    dan = dan + 1
    if dan==7:
        continue
    for _ in range(9):
        print(dan,'X ',number, '= ',number*dan)
        number = number + 1
        pass     
    print()

2 X  1 =  2
2 X  2 =  4
2 X  3 =  6
2 X  4 =  8
2 X  5 =  10
2 X  6 =  12
2 X  7 =  14
2 X  8 =  16
2 X  9 =  18

3 X  1 =  3
3 X  2 =  6
3 X  3 =  9
3 X  4 =  12
3 X  5 =  15
3 X  6 =  18
3 X  7 =  21
3 X  8 =  24
3 X  9 =  27

4 X  1 =  4
4 X  2 =  8
4 X  3 =  12
4 X  4 =  16
4 X  5 =  20
4 X  6 =  24
4 X  7 =  28
4 X  8 =  32
4 X  9 =  36

5 X  1 =  5
5 X  2 =  10
5 X  3 =  15
5 X  4 =  20
5 X  5 =  25
5 X  6 =  30
5 X  7 =  35
5 X  8 =  40
5 X  9 =  45

6 X  1 =  6
6 X  2 =  12
6 X  3 =  18
6 X  4 =  24
6 X  5 =  30
6 X  6 =  36
6 X  7 =  42
6 X  8 =  48
6 X  9 =  54

8 X  1 =  8
8 X  2 =  16
8 X  3 =  24
8 X  4 =  32
8 X  5 =  40
8 X  6 =  48
8 X  7 =  56
8 X  8 =  64
8 X  9 =  72

9 X  1 =  9
9 X  2 =  18
9 X  3 =  27
9 X  4 =  36
9 X  5 =  45
9 X  6 =  54
9 X  7 =  63
9 X  8 =  72
9 X  9 =  81