In [50]:
#2024년 9월 달력을 아래와 같이 출력되도록 코드를 작성하시오
print('\t\t2024년 9월\n')
print('일', '월', '화', '수', '목', '금','토', sep='\t')
for i in range(1, 31):
    print(i, end='\t')
    if(i%7==0):
        print('\n')

		2024년 9월

일	월	화	수	목	금	토
1	2	3	4	5	6	7

8	9	10	11	12	13	14

15	16	17	18	19	20	21

22	23	24	25	26	27	28

29	30

In [24]:
dan=2
for i in range(8):
    number=1
    for i in range(9):
        print(dan, "X", number, '=', number*2)
        number=number+1
    dan=dan+1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [25]:
for letter in 'Hello':
    print(letter, end='')

Hello

In [35]:
total=0
for i in number:
    total=total+int(i)
print(total)

15

In [36]:
a=list('Hello')
print(a)

['H', 'e', 'l', 'l', 'o']

In [37]:
print(range(100))
b=list(range(10))
print(b)

range(0, 100)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
a=list('Hello')
#Hello
#01234
print(a[1])
print(len(a))
print(len('Hello World'))

e
5
11

In [39]:
a=list(range(10))

In [40]:
for i in a:
    if i==30:
        print(i)

In [42]:
0 not in a

False

In [49]:
#number의 수를 하나씩 분리하면 1, 2, 3, 4, 5

#분리된 수를 합하여서 출력하는 코드를 작성하시오.
#우선 5를 분리한다.
total=0
number=12345

for i in range(5):
    splitNumber=number % 10
    number=number//10
    print(splitNumber, number)
    total=total+splitNumber

print(total)

5 1234

In [70]:
# 내 코드
#2024년 6월 달력을 출력하는 코드를 작성하시오
#2024년 9월 달력을 만드는 코드를 수정하여서 작성하시오
print('\t\t2024년 6월\n')
print('일', '월', '화', '수', '목', '금','토', sep='\t')
print('\t\t\t\t\t\t', end='')
for i in range(1, 31):
    print(i, end='\t')
    if((i-1)%7==0):       #if(i%7==1)
        print('\n')

		2024년 6월

일	월	화	수	목	금	토
						1

2	3	4	5	6	7	8

9	10	11	12	13	14	15

16	17	18	19	20	21	22

23	24	25	26	27	28	29

30

In [73]:
# 교수님 코드
mon=int(input('월을 입력하세요>>>'))
space=int(input('빈칸의 수를 입력하세요>>>'))
lastDay=int(input('마지막 날짜를 입력하세요>>>'))

print('\t\t2024년', mon, '월')
print('일', '월', '화', '수', '목', '금','토', sep='\t')

day=1
for i in range(space):
    print('\t', end='')
for i in range(lastDay):
    print(day, end='\t')
    if (space+day)%7==0:
        print()
    day=day+1

월을 입력하세요>>> 6
빈칸의 수를 입력하세요>>> 6
마지막 날짜를 입력하세요>>> 30

		2024년 6 월
일	월	화	수	목	금	토
						1
2	3	4	5	6	7	8
9	10	11	12	13	14	15
16	17	18	19	20	21	22
23	24	25	26	27	28	29
30

In [75]:
# 교수님 코드
mon=int(input('월을 입력하세요>>>'))
spaces=[1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
lastDays=[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
space=spaces[mon-1]
lastDay=lastDays[mon-1]

print('\t\t2024년', mon, '월')
print('일', '월', '화', '수', '목', '금','토', sep='\t')

day=1
for i in range(space):
    print('\t', end='')
for i in range(lastDay):
    print(day, end='\t')
    if (space+day)%7==0:
        print()
    day=day+1

월을 입력하세요>>> 8

		2024년 8 월
일	월	화	수	목	금	토
				1	2	3
4	5	6	7	8	9	10
11	12	13	14	15	16	17
18	19	20	21	22	23	24
25	26	27	28	29	30	31

In [79]:
# 교수님 코드
mon=int(input('월을 입력하세요>>>'))
year=2024
febDay=28
# 400나누어 떨어지거나
# 4로 나누어 떨어지고 100으로 나누어 떨어지지 않아야 한다.
lastDays=[31, febDay, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
if mon==2:
    if year%400==0 or (year%4==0 and year%100!=0):
        lastDays[1]=29
        
spaces=[1, 4, 5, 1, 3, 6, 1, 4, 0, 2, 5, 0]
space=spaces[mon-1]
lastDay=lastDays[mon-1]

print('\t\t2024년', mon, '월')
print('일', '월', '화', '수', '목', '금','토', sep='\t')

day=1
for i in range(space):
    print('\t', end='')
for i in range(lastDay):
    print(day, end='\t')
    if (space+day)%7==0:
        print()
    day=day+1

월을 입력하세요>>> 2

		2024년 2 월
일	월	화	수	목	금	토
				1	2	3
4	5	6	7	8	9	10
11	12	13	14	15	16	17
18	19	20	21	22	23	24
25	26	27	28	29

In [80]:
total=0
number=12345
while True:
    splitNumber=number%10
    number=number//10
    print(splitNumber, number)
    total=total+splitNumber
    if number==0:
        break
print(total)

5 1234
4 123
3 12
2 1
1 0
15

In [81]:
isStop=False
while not isStop:
    splitNumber=number%10
    number=number//10
    print(splitNumber, number)
    total=total+splitNumber
    if number==0:
        isStop=True

print(total)

0 0
15