In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.2

In [3]:
dataframe = pd.read_csv('../doit_pandas-master/data/gapminder.tsv', sep='\t')

In [4]:
dataframe.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
print(dataframe.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
gisa_df = pd.read_csv('.\data\Abc1115.csv')

In [10]:
gisa_df.head()

   990001  addx   17   29   16   49   43  154  C  A C.1
0  990002  stch   30    9   48   25   81  193  C  A   A
1  990003  gali   93   60    6   84   36  279  A  C   A
2  990004  miat   73   22   48   24   72  239  B  C   C
3  990005  oran   33   38   59   58   28  216  C  B   A
4  990006  sj24   27   65   54   77   33  256  B  A   A

In [11]:
print(gisa_df.head())

   990001  addx   17   29   16   49   43  154  C  A C.1
0  990002  stch   30    9   48   25   81  193  C  A   A
1  990003  gali   93   60    6   84   36  279  A  C   A
2  990004  miat   73   22   48   24   72  239  B  C   C
3  990005  oran   33   38   59   58   28  216  C  B   A
4  990006  sj24   27   65   54   77   33  256  B  A   A

In [12]:
type(gisa_df)

pandas.core.frame.DataFrame